{% extends "global/Page.html" %}

{% block title %}
    Introduction
{% endblock %}

{% block scripts %}
     <script src="https://www.google.com/recaptcha/api.js"></script>
     <script>
        $('.otree-btn-next').hide();
         function onCaptchaSolve(token) {
             document.getElementById('id_captcha').value = 'true';
             $('.otree-btn-next').show();
         }
     </script>
{% endblock %}

{% block content %}

    <p>You will be paid a fixed participation fee of {{ session.config.participation_fee }}. All other payoffs that you come across throughout this study are hypothetical. Needless to say, we want you to treat these hypothetical payoffs as if they were real.</p>
    
    <p>In this study, you will make two short decisions. Each decision is presented on a separate screen. Despite the decisions being short, it is very important that you read all of the instructions very carefully and consider each decision individually. <mark><span style="text-decoration: line-through;">The decision situations might appear to be very similar, but they differ in some key aspects.</span> It can happen that you are presented with the same decision twice. You should still choose according to your preference when making each decision.</mark></p>

    <p>Before you continue, please prove that you are human.</p>
    <input type="hidden" id="id_captcha" name="captcha" value="false">

    <div class="g-recaptcha" data-sitekey="6Lfy68UUAAAAAIWXmj49LvzA0vv3iZ_QgTIcEpuB" data-callback="onCaptchaSolve"></div>
    {{ formfield_errors 'captcha' }}

    <div class="center">{% next_button %}</div>

{% endblock %}
