{% extends "global/Page.html" %}

{% block title %}
    Introduction
{% endblock %}

{% block scripts %}
     <script src="https://www.google.com/recaptcha/api.js"></script>
     <script>
        $('.otree-btn-next').hide();
         function onCaptchaSolve(token) {
             document.getElementById('id_captcha').value = 'true';
             $('.otree-btn-next').show();
         }
     </script>
{% endblock %}

{% block content %}

    <p>You will be paid a fixed participation fee of {{ session.config.participation_fee }}. All other payoffs that you come across throughout this study are hypothetical. Needless to say, we want you to treat these hypothetical payoffs as if they were real.</p>
    
    <p>
        In this study, you will make two short decisions. Each decision is presented on a separate screen. Despite the decisions being short, it is very important that you read all of the instructions very carefully and consider each decision individually. The decision situations might appear to be very similar, but they differ in some key aspects. Please note, however, that for some participants, the two decisions situations are indeed exactly identical. You should then still choose according to your preferences in each decision.<br>
        Decisions have a code (like “Decision A1”). You will be able to see whether you have different or identical decision situations depending on whether the code is identical in both cases (identical situation)or different (different situation).
    </p>

    <p>Before you continue, please prove that you are human.</p>
    <input type="hidden" id="id_captcha" name="captcha" value="false">

    <div class="g-recaptcha" data-sitekey="6Lfy68UUAAAAAIWXmj49LvzA0vv3iZ_QgTIcEpuB" data-callback="onCaptchaSolve"></div>
    {{ formfield_errors 'captcha' }}

    <div class="center">{% next_button %}</div>

{% endblock %}
